@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    html, body {
        font-family: 'Jost', sans-serif !important;
    }
}

@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}



